# OS junk
.DS_Store

# Environment variables
.env
.env.*
FengShui/.env
FengShui/.env.*

# Uploaded files
FengShui/backend/uploads/
uploads/

# Optimized models cache
FengShui/backend/optimized/
optimized/

# Cache metadata
FengShui/backend/cache_metadata/
cache_metadata/